/* Modification du CSS de l'overlay discord */
/* https://streamkit.discord.com/overlay */

/* Définition du corps de la page */
body {
  /* on enlève le fond de base, pour donner une transparence à la grande boite de base */
  background-color: rgba(0, 0, 0, 0);
  /* pas de marge extérieure */
  margin: 0;
  /* pas de marge intérieure */
  padding: 0;
  /* on cache ce qui sort de la boite */
  overflow: hidden;
}

/* Définition du bloc des pseudos */
.voice-states * {
  /* Ici on change la dispisition des boites, de base elles sont verticales, ici elle seront horizontale */
  /* Blocs en ligne */
  display: inline-block;
  /* Disposition relative, surtout pas en absolute */
  position: relative;
  /* on défini notre position haut a 0 et gauche à 0 pour avoir un départ propre */
top: 0;
left: 0;
}

/* Définition du bloc des avatars */
.voice-state {
/* La taille de vos avatars */
  width: 70px;
  height: 90px;
}

/* Position et style du bloc Avatar */
.avatar {
  /* on le décale de 7px */
  left: 15px;
  /* largeur des bords*/
  border-width: 4px ! important;
  /* On enleve le cercle de couleur autour de l'avatar lorsqu'il ne parle pas */
  border-color: rgba(0,0,0,0) ! important;
  /* on met les avatar en surbrillance de 60% lorsqu'il ne parle pas (100% = surbrillance normal) */
  filter: brightness(60%);
}

/* Position et style du bloc contour des Pseudo */
.user {
  /* Décalage de 2 pixels */
  left: 2px;
  top: 2px;
  /* Couleur de fond à changer selon vos gouts, noir par défaut */
  background-color: rgba(0,0,0,0.7);
  /* Marge intérieure */
  padding: 2px 3px 2px 3px !important;
  /* On arrondis les angles de 4 pixels */
  border-radius: 4px;
  /* on baisse la surbrillance du pseudo quand la personne ne parle pas */
  filter: brightness(100%);
}

/* Position et style de l'écriture du pseudo */
.name {
  /* espacement entre la boite et l'avatar */
  top: 2px;
  /* Largeur de la boite */
  width: 80px;
  /* Hauteur de la boite, on ne met pas de width pour eviter que la boite mange les pseudo */
  height: 17px;
  /* Hauteur de ligne */
  line-height: 17px !important;
  /* gestion des espaces entre les textes */
  white-space: nowrap;
  /* débordement du texte */
  text-overflow: clip;
  /* On centre le texte */
  text-align: center;
  /* Ne pas toucher ici, si vous voulez changer le fond, changez le plus haut car il y'a 2 boites, la boite avec le pseudo et la boite de la boite, bref */
  background-color: rgba(0,0,0,1) !important;
  /* Marge intérieure */
  padding: 3px 5px 3px 5px !important;
  /* tout ce qui est au dela du width défini est caché, si le pseudo est trop long, seul la partie mesurant 80px est affiché */
overflow: hidden;
  /* le texte caché est remplacé par "..." */
  text-overflow: ellipsis;
}

/* Style dans le cas ou l'avatar parle */
.speaking {
  /* Met les avatar en surbrillance de 120% lorsqu'il parle */
  filter: brightness(120%);
  /* Couleur du cercle quand la personne parle */
  border-color: rgba(3,34,76,0.8) !important;
}

/* Quand la personne parle, on met en surbrillance son pseudo */
.speaking + .user {
  /* Met les pseudos en surbrillance de 120% lorsqu'il parle */
  filter: brightness(120%);
  /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
  background-color: rgba(3,34,76,0.8) !important;
}