/* Modification du CSS de l'overlay discord */
/* https://streamkit.discord.com/overlay */

/* Définition du corps de la page */
body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* Définition du bloc des pseudos */
  .voice-states * {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
  }
  
  /* Définition du bloc des avatars */
  .voice-state {
    width: 70px;
    height: 90px;
  }
  
  /* Position et style du bloc Avatar */
  .avatar {
    left: 7px;
    border-width: 4px ! important;
    border-color: rgba(0,0,0,0) ! important;
    filter: brightness(60%);
  }
  
  /* Position et style du bloc contour des Pseudo */
  .user {
    left: 2px;
    top: 2px;
    background: rgba(0,0,0,.7);
    padding: 4px 5px 0px !important;
    border-radius: 4px;
  }
  
  /* Position et style de l'écriture du pseudo */
  .name {
    height: 17px;
    line-height: 17px !important;
    white-space: nowrap;
    text-overflow: clip;
    text-align: center;
    background-color: rgba(0,0,0,0) !important;
    padding: 0 !important;
    overflow: hidden;
  }
  
  /* Style dans le cas ou l'avatar parle */
  .speaking {
    filter: brightness(120%);
    border-color: rgba(3,34,76,0.8) ! important;
  }