/* Modification du CSS de l'overlay discord */
/* https://streamkit.discord.com/overlay */

/* Définition du corps de la page */
body {
    /* on enlève le fond de base, pour donner une transparence à la grande boite de base */
    background-color: rgba(0, 0, 0, 0);
    /* pas de marge extérieure */
    margin: 0;
    /* pas de marge intérieure */
    padding: 0;
    /* on cache ce qui sort de la boite */
    overflow: hidden;
}
  
/* Définition du bloc des pseudos */
.voice-states * {
    /* Ici on change la dispisition des boites, de base elles sont verticales, ici elle seront horizontale */
    /* Blocs en ligne */
    display: inline-block;
    /* Disposition relative, surtout pas en absolute */
    position: relative;
    /* on défini notre position haut a 0 et gauche à 0 pour avoir un départ propre */
	top: 0;
	left: 0;
}
  
/* Définition du bloc des avatars */
.voice-state {
    /* La taille de vos avatars */
    width: 70px;
    height: 90px;
    margin-right: 30px;
}
  
/* Position et style du bloc Avatar */
.avatar {
    /* on le décale de 7px */
    left: 20px;
    /* largeur des bords*/
    border-width: 4px ! important;
    /* On enleve le cercle de couleur autour de l'avatar lorsqu'il ne parle pas */
    border-color: rgba(0,0,0,0) ! important;
    /* on met les avatar en surbrillance de 60% lorsqu'il ne parle pas (100% = surbrillance normal) */
    filter: brightness(60%);
}
  
/* Position et style du bloc contour des Pseudo */
.user {
    /* Décalage de 2 pixels */
    left: 2px;
    top: 5px;
    /* Couleur de fond à changer selon vos gouts, noir par défaut */
    background-color: rgba(0,0,0,0.1);
    /* Marge intérieure */
    padding: 2px 3px 2px 3px !important;
    /* On arrondis les angles de 4 pixels */
    border-radius: 4px;
    /* on baisse la surbrillance du pseudo quand la personne ne parle pas */
    filter: brightness(60%);
}
  
/* Position et style de l'écriture du pseudo */
.name {
    /* espacement entre la boite et l'avatar */
    top: 2px;
    /* Largeur de la boite */
    width: 80px;
    /* Hauteur de la boite, on ne met pas de width pour eviter que la boite mange les pseudo */
    height: 17px;
    /* Hauteur de ligne */
    line-height: 17px !important;
    /* gestion des espaces entre les textes */
    white-space: nowrap;
    /* débordement du texte */
    text-overflow: clip;
    /* On centre le texte */
    text-align: center;
    /* Ne pas toucher ici, si vous voulez changer le fond, changez le plus haut car il y'a 2 boites, la boite avec le pseudo et la boite de la boite, bref */
    background-color: rgba(0,0,0,0) !important;
    /* Marge intérieure */
    padding: 3px 5px 3px 5px !important;
    /* tout ce qui est au dela du width défini est caché, si le pseudo est trop long, seul la partie mesurant 80px est affiché */
	overflow: hidden;
    /* le texte caché est remplacé par "..." */
    text-overflow: ellipsis;
}
  
/* Style dans le cas ou l'avatar parle */
.speaking {
    /* Met les avatar en surbrillance de 120% lorsqu'il parle */
    filter: brightness(120%);
    /* Couleur du cercle quand la personne parle */
    border-color: rgba(3,34,76,0.8) !important;
}

/* Quand la personne parle, on met en surbrillance son pseudo */
.speaking + .user {
    /* Met les pseudos en surbrillance de 120% lorsqu'il parle */
    filter: brightness(120%);
}

/* ---------------- */
/* - JOUEUR ROUGE - */
/* ---------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(1) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/red.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(1) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(1) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/red.png');
    border-color: rgba(255,0,0,0.8) !important;
    filter: brightness(120%);
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(1) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(255,0,0,0.8) !important;
    filter: brightness(120%);
}

/* --------------- */
/* - JOUEUR BLEU - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(2) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/blue.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(2) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(2) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/blue.png');
    border-color: rgba(0,0,250,0.8) !important;
    filter: brightness(120%);
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(2) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,250,0.8) !important;
    filter: brightness(120%);
}

/* --------------- */
/* - JOUEUR VERT - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(3) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/green.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(3) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(3) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/green.png');
    border-color: rgba(0,200,0,0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(3) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,200,0,0.8) !important;
}

/* --------------- */
/* - JOUEUR ROSE - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(4) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/pink.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(4) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(4) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/pink.png');
    border-color: rgba(212, 22, 181,0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(4) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(212, 22, 181, 0.8) !important;
}

/* ----------------- */
/* - JOUEUR ORANGE - */
/* ----------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(5) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/orange.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(5) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(5) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/orange.png');
    border-color: rgba(255,155,0,0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(5) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(255,155,0,0.8) !important;
}

/* ---------------- */
/* - JOUEUR JAUNE - */
/* ---------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(6) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/yellow.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(6) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(6) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/yellow.png');
    border-color: rgba(255,255,0,0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(6) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(255,255,0,0.8) !important;
}

/* --------------- */
/* - JOUEUR NOIR - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(7) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/black.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(7) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(7) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/black.png');
    border-color: rgba(71, 71, 71, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(7) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(71, 71, 71, 0.8) !important;
}

/* ---------------- */
/* - JOUEUR BLANC - */
/* ---------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(8) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/white.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(8) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(8) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/white.png');
    border-color: rgba(255, 255, 255, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(8) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(255, 255, 255, 0.8) !important;
}

/* ----------------- */
/* - JOUEUR VIOLET - */
/* ----------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(9) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/purple.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(9) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(9) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/purple.png');
    border-color: rgba(160, 14, 165, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(9) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(160, 14, 165, 0.8) !important;
}

/* ----------------- */
/* - JOUEUR MARRON - */
/* ----------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(10) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/brown.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(10) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(10) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/brown.png');
    border-color: rgba(99, 61, 11, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(10) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(99, 61, 11, 0.8) !important;
}

/* --------------- */
/* - JOUEUR CYAN - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(11) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/cyan.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(11) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(11) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/cyan.png');
    border-color: rgba(9, 192, 224, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(11) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(9, 192, 224, 0.8) !important;
}

/* --------------- */
/* - JOUEUR LIME - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(12) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/lime.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(12) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(12) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/lime.png');
    border-color: rgba(9, 224, 170, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(12) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(9, 224, 170, 0.8) !important;
}

/* ----------------- */
/* - JOUEUR MAROON - */
/* ----------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(13) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/maroon.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(13) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(13) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/maroon.png');
    border-color: rgba(126, 14, 14, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(13) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(126, 14, 14, 0.8) !important;
}

/* --------------- */
/* - JOUEUR ROSE - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(14) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/rose.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(14) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(14) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/rose.png');
    border-color: rgba(240, 142, 142, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(14) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(240, 142, 142, 0.8) !important;
}

/* ----------------- */
/* - JOUEUR BANANA - */
/* ----------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(15) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/banana.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(15) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(15) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/banana.png');
    border-color: rgba(252, 255, 103, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(15) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(252, 255, 103, 0.8) !important;
}

/* --------------- */
/* - JOUEUR GRAY - */
/* --------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(16) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/gray.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(16) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(16) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/gray.png');
    border-color: rgba(139, 139, 139, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(16) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(139, 139, 139, 0.8) !important;
}

/* -------------- */
/* - JOUEUR TAN - */
/* -------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(17) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/tan.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(17) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(17) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/tan.png');
    border-color: rgba(165, 130, 98, 0.8) !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(17) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(165, 130, 98, 0.8) !important;
}

/* ---------------- */
/* - JOUEUR CORAL - */
/* ---------------- */
/* image de profil quand vous ne parlez pas */
.voice-state:nth-child(18) .avatar {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/coral.png');
}
/* Quand la personne ne parle pas, on met en sousbrillance son pseudo */
.voice-state:nth-child(18) .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: rgba(0,0,0,0) !important;
    filter: brightness(60%);
}
/* image de profil quand vous parlez */
.voice-state:nth-child(18) .avatar.speaking {
    content: url('https://raw.githubusercontent.com/h0ldhaven/Zone-De-Code/main/OBS-STUDIO/Among-US/coral.png');
    border-color: #ff7f50 !important;
}
/* Quand la personne parle, on met en surbrillance son pseudo */
.voice-state:nth-child(18) .avatar.speaking + .user .name {
    /* Couleur du bord de la boite qui contient le pseudo quand la personne parle */
    background-color: #ff7f50 !important;
}